    <div class="card m-2">
      <div class="card-header">Featured</div>
      <div class="card-body">
       <div class="row">
           <div class="col-lg-6 col-md-6 col-12">
             <p><strong>Name :</strong> {{userInfo.Name}}</p>
           </div>
           <div class="col-lg-6 col-md-6 col-12">
             <p><strong>Units :</strong> {{userInfo.Units}}</p>
           </div>
       </div>
      </div>
    </div>
  
    <div class="card m-2">
      <div class="card-header">Featured</div>
      <div class="card-body">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <p><strong>Type :</strong> {{userInfo.Type}}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <p><strong>Date :</strong> {{userInfo.Date}}</p>
              </div>
          </div>
      </div>
    </div>
  
    <div class="card m-2">
      <div class="card-header">Address</div>
      <div class="card-body">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <p><strong>Address :</strong> {{userInfo.Address}}</p>
              </div>
          </div>
      </div>
    </div>
  
    <div class="card m-2">
      <div class="card-header">Issue Id Information</div>
      <div class="card-body">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <p><strong>Id :</strong> {{userInfo.Id}}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <p><strong>Status :</strong> {{userInfo.Status}}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <p><strong>ModifiedBy :</strong> {{userInfo.ModifiedBy}}</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <p><strong>ModifiedDate :</strong> {{userInfo.ModifiedDate}}</p>
            </div>
          </div>
      </div>
    </div>
    <div class="submit-button text-end m-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  