<div class="filters mt-3">
    <form [formGroup]="filterForm">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <kendo-formfield>
                        <kendo-floatinglabel text="Request Type" class="w-100">
                            <kendo-dropdownlist [data]="type" formControlName="type" required>
                            </kendo-dropdownlist>
                        </kendo-floatinglabel>
                </kendo-formfield>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <kendo-formfield>
                    <kendo-floatinglabel text="Request Duration" class="w-100">
                        <kendo-dropdownlist [data]="duration" formControlName="duration" required>
                        </kendo-dropdownlist>
                    </kendo-floatinglabel>
                </kendo-formfield>    
            </div>
            <div class="col-lg-6 col-md-6 col-12 d-flex align-items-end">
                <button kendoButton class="mx-2 w-25" [disabled]="filterForm.invalid" (click)="filterData()" [primary]="true">Filter</button>
                <button kendoButton class="mx-2 w-25" (click)="reset()" [primary]="true">Reset Filter</button>
                <button kendoButton class="w-25" (click)="openModel('ConfirmDialog')" >Export</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-borderless mt-3">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Units</th>
            <th>Type</th>
            <th>Date</th>
            <th>address</th>
            <th>Id</th>
            <th>Edited By</th>
            <th>Edited Date</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of userData">
           <td><a [routerLink]="['userdetails',item.id]">{{item.firstname}}</a></td>
           <td>{{item.units}}</td>
           <td>{{item.type}}</td>
           <td>{{item.date}}</td>
           <td>{{item.address}}</td>
           <td>{{item._id}}</td>
           <td>{{item.city}}</td>
           <td>{{item.state}}</td>
           <td>{{item.selectid}}</td>
           <td>{{item.insurance}}</td>
        </tr>
    </tbody>
</table>

<app-dialog id="ConfirmDialog">
<h1>dhghfghhhfhfhg</h1>
<button (click)="closeModel('ConfirmDialog')">Close</button>
</app-dialog>

<!-- business:['',Validators.required],
units:['',Validators.required],
firstname:['',Validators.required],
middlename:[''],
lastname:['',Validators.required],
standard:[''],
high:[''],
date:[''],
gender:[''],
address:[''],
address2:[''],
address3:[''],
area:[''],
city:[''],
state:[''],
selectid:['',Validators.required],
insurance:['',Validators.required] -->