/* You can add global styles to this file, and also import other style files */

@import 'common';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.accordion-header {
    color:$primary-color;
    font-size: $extra-small-font;
}
.login-form, .register-form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
}
.cursor-pointer {
    cursor: pointer;
}